h2 {
  text-align: center;
}

#title {
  color: #97c0ae;
}

#subtitle {
  color: #97c0ae;
}

.enterName {
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  border: 2px solid #97c0ae;
  border-radius: 10px;
  background-color: #bed8cc;
  padding: 20px;
}

#visitornameInput {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#allBody {
  text-align: center;
}

label {
  margin-left: 10px;
}

h1 {
  text-align: center;
}

.boxes {
  border: 2px solid #000;
  padding: 100px;
  height: 250px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

.btn {
  align-items: center;
}

.row {
  margin-left: 100px;
  margin-right: 100px;
}

.questionForm {
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  border: 2px solid #97c0ae;
  border-radius: 10px;
  background-color: #bed8cc;
  padding: 20px;
}

.questionForm {
  padding: 20px;
  text-align: center;
  margin: 20px;
}

#nameQuestion {
  display: block;
  margin-left: 100px;
  margin-right: 100px;
  border: 2px solid #97c0ae;
  border-radius: 10px;
  background-color: #bed8cc;
  padding: 20px;
  padding-top: 0px;
}

.programmingLanguage {
  display: none;
}

#css {
  display: none;
  color: #97c0ae;
  margin-bottom: 50px;
}

#csharp {
  display: none;
  color: #97c0ae;
  margin-bottom: 50px;
}

#ruby {
  display: none;
  color: #97c0ae;
  margin-bottom: 50px;
}

#nameQuestion {
  display: none;
}

#question1 {
  display: none;
}

#question2 {
  display: none;
}

#question3 {
  display: none;
}

#question4 {
  display: none;
}

#question5 {
  display: none;
}
